body {
	padding:0;
	margin:0;
	font-family: Verdana;
	background-color: #EEEEEE;
}

h1,h2 {
	text-align: center;
}

.add {
	font-size: 24px;
	position: relative;
	top: 114px;
}

.black {
	background-color: black;
}


.green {
	background-color: #60A917;
}


.red {
	background-color: #CE352C;
}

@media all and (max-width: 979px) {
	.half-panel {
		width: 100%;
		float: none;
	}
}