body {
	padding:0;
	margin:0;
	font-family: Verdana;
	background-color: #0072C6;
}

h1,h2 {
	text-align: center;
}

.add {
	font-size: 24px;
	position: relative;
	top: 114px;
}

.black {
	background-color: black;
}


.green {
	background-color: #60A917;
}


.red {
	background-color: #CE352C;
}
