h3 {
	text-align: center;
}

.column {
	height: 300px;
}

.flex {
	-ms-flex: 1;
   -webkit-flex: 1;
   flex: 1;
}

.layout {
	display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

@media all and (max-width: 979px) {
	.column {
		width: 100%;
		-ms-flex: none;
    -webkit-flex: none;
    flex: none;
	}
	.layout {
		display: block;
	}
}